@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.wrapper{
	display: flex;
	flex-direction: column;
}
.header {
}
.main {
	flex-grow: 1;
	padding: 50px 0px;
}
.main__services{
	margin-bottom: 160px;
}
.services__container {
	display: flex;
	flex-direction: column;
}
[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}
.services__titles {
	margin-bottom: 78px;
}
.block-title {
}
.block-title__sub-title {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	padding-left: 33px;
	background: url('../img/services/mark.svg') -3px -2px no-repeat;
}
.block-title__sub-title:not(:last-child){
	margin-bottom: 33px;
}
.block-title__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #000000;
}
.services__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -12px;
	row-gap: 24px;
}
.services__items:not(:last-child){
	margin-bottom: 66px;
}
.services__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 290px;
}
.services__body-item {
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 50px 43px;
	text-align: center;
	height: 100%;
	transition: 0.6s;
}
.services__body-item:hover{
	box-shadow: 0px 0px 20px rgb(108, 108, 108);
}
.services__img-body {
	flex: 0 0 63px;
	height: 63px;
}
.services__img-body:not(:last-child){
	margin-bottom: 33px;
}
.image {
	width: 100%;
	height: 100%;
}
.services__title-item:not(:last-child) {
	margin-bottom: 20px;
}
.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #F2726F;
}
.services__text-item {
}
.text {
}
.services__button {
}
.button {
	border-radius: 8px;
	align-self: center;
	color: #fff;
	background-color: #F2726F;
	text-transform: uppercase;
	min-width: 130px;
	font-size: 12px;
	padding: 15px 30px;
	text-align: center;
	transition: 0.5s;
}
.button:hover{
	background-color: #fb9694;
}
/* ============================================================================================================================ */
.impact {
	padding-top: 5px;
	background-color: #29C3BE;
}
.main__impact{
	margin-bottom: 120px;
}
.impact__container {
	display: flex;
	flex-direction: column;
}
.impact__top-block {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 79px;
	position: relative;
}
.impact__titles {
	max-width: 430px;
	padding-right: 15px;
	position: relative;
	z-index: 1;
}
.block-title__sub-title_white {
	color: #fff;
}
.block-title__sub-title_white{
	background: url('../img/impact/white_mark.svg') -3px -2px no-repeat;
}
.block-title__title_white {
	color: #fff;
}
.blop{
	position: absolute;
	top: -5px;
	right: 0%;
	transform: translate(15%);
	width: 70%;
}
.impact__img {
	flex: 0 1 498px;
	border-radius: 40px;
	overflow: hidden;
	margin-top: -7.6%;
	position: relative;
}
.impact__items {
	display: flex;
	margin: 0px -15px;
	row-gap: 24px;
	flex-wrap: wrap;
}
.impact__items:not(:last-child){
	margin-bottom: 120px;
}
.impact__item {
	flex: 1 1 25%;
	min-width: 237px;
	padding: 0px 15px;
	display: flex;
	column-gap: 11px;
	align-items: flex-start;
}
.impact__logo {
	flex: 0 0 76px;
}
.impact__column {
}
.impact__value {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #FFFFFF;
}
.info {
	font-weight: 700;
	color: #5D62B5;
}
.impact__down {
	margin-bottom: -75px;
}
.block-down {
	background: #5D62B5;
	border-radius: 20px;
	padding: 44px 70px;
	display: flex;
	justify-content: space-between;
	row-gap: 24px;
	flex-wrap: wrap;
}
.block-down__text {
	max-width: 530px;
	padding-right: 15px;
	font-weight: 900;
	font-size: 24px;
	line-height: 1.25;
	color: #FFFFFF;
}
.block-down__button {
}
